data/product_data
data/category_urls
data/product_urls
post_processing/AWS_RDS.py
post_processing/data_processing.py
post_processing/s3.py
.gitignore
docs/diagram.drawio
docs/diagram.jpg
docs/dictionary_structure.txt
test/

