ocado.py
ovidiu_prototype.py
Ocado_info.txt
__pycache__
data/images
.DS_Store
data/product_data
testscrapy.py
data/product_data
testscrapy.py
ocado-webscraping-team
product_testing.py
test.py
testing.py
/test/data
